@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Oxygen&family=Oxygen+Mono&family=Titan+One&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(138, 28, 138);
}

.container{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.container .brand{
    font-family: Bungee Spice, sans-serif;
    font-size: 5rem;
    text-decoration: none;
}

.loading{
    font-size: 1.5rem;
    margin: 1rem;
    visibility: visible;
    animation: rotate 1s linear infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
}

.letters{
    width: 2.7rem;
    height: 2.7rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 200;
    font-family: Titan One, sans-serif;
}


.correct{
    background-color: rgb(0, 255, 0);
}

.close{
    background-color: rgb(255, 255, 93);
}

.wrong{
    background-color: rgb(181, 178, 178);
}

.invalid{
    animation: flash-invalid 1s linear infinite;
}
@-webkit-keyframes flash-invalid{
    0%{
        background-color: rgb(255, 0, 0);
    }
    100%{
        background-color: rgb(255, 255, 255);
    }
}
@keyframes flash-invalid{
    0%{
        background-color: rgb(255, 0, 0);
    }
    100%{
        background-color: rgb(255, 255, 255);
    }
}

.hide-loading{
    visibility: hidden;
}


.result-wrapper{
    visibility: visible;
    position: absolute;
    left: 60%;
    font-family: Titan One, sans-serif;
    font-size: 4rem;
    padding: 1rem 3rem;
    border-radius: 61px;
    color: wheat;
}

.result-wrapper-unvisible{
    visibility: hidden;
}
.result-wrapper-animation{
    -webkit-animation:bounce-in 1s ease 0s 1 normal;
    -moz-animation:bounce-in 1s ease 0s 1 normal;
    -ms-animation:bounce-in 1s ease 0s 1 normal;
    animation:bounce-in 1s ease 0s 1 normal;
}
@-webkit-keyframes bounce-in {
    0%{ opacity: 0; -webkit-transform: scale(.3); transform: scale(.3); }
    50%{ opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
    70%{ -webkit-transform: scale(0.9); transform: scale(0.9); }
    100%{ -webkit-transform: scale(1); transform: scale(1); }
    }
    
    @keyframes bounce-in {
    0%{ opacity: 0; transform: scale(.3); }
    50%{ opacity: 1; transform: scale(1.0); }
    70%{ transform: scale(0.9); }
    100%{ transform: scale(1); }
    }

.result-wrapper-win{
    background: linear-gradient(145deg, #099509, #0bb20b);
    box-shadow:  21px 21px 70px #088b08,-21px -21px 70px #0cc10c;
}
.result-wrapper-lose{
    border-radius: 39px;
    background: #750000;
    box-shadow:  21px 21px 69px #650000,-21px -21px 69px #850000;
}

.show-word-wrapper{
    visibility: hidden;
    position: absolute;
    left: 25%;
    font-family: Titan One, sans-serif;
    font-size: 1.8rem;
    padding: 4rem;
    color: rgb(15, 15, 15);
    cursor: pointer;
    background: #007bff;
    box-shadow:  21px 21px 69px #006adb,-21px -21px 69px #008cff;
}
.show-word-wrapper-unvisible{
    visibility: visible;
}

.show-word{
    padding: 0px;
    width: 90px;
}

.sw-flip-out{
    -webkit-animation:flipout 1s ease 0s 1 normal;
    -moz-animation:flipout 1s ease 0s 1 normal;
    -ms-animation:flipout 1s ease 0s 1 normal;
    animation:flipout 1s ease 0s 1 normal;
    }
    
    @-webkit-keyframes flipout {
    0%{ opacity: 1; -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(0deg); }
    100%{ opacity: 0; -webkit-transform: perspective(400px) rotateY(90deg); transform: perspective(400px) rotateY(90deg); }
    }
    @keyframes flipout {
    0%{ opacity: 1; transform: perspective(400px) rotateY(0deg); }
    100%{ opacity: 0; transform: perspective(400px) rotateY(90deg); }
    }

.sw-flip{
    -webkit-animation:flipiny 2s ease 0s 1 normal;
    -moz-animation:flipiny 2s ease 0s 1 normal;
    -ms-animation:flipiny 2s ease 0s 1 normal;
    animation:flipiny 2s ease 0s 1 normal;
    }
    
    @-webkit-keyframes flipiny {
    0%{ opacity: 0; -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(90deg); }
    40%{ -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(-10deg); }
    70%{ -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(10deg); }
    100%{ opacity: 1; -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(0deg); }
    }
    
    @keyframes flipiny {
    0%{ opacity: 0; transform: perspective(400px) rotateY(90deg); }
    40%{ transform: perspective(400px) rotateY(-10deg); }
    70%{ transform: perspective(400px) rotateY(10deg); }
    100%{ opacity: 1; transform: perspective(400px) rotateY(0deg); }
    }